{% extends 'base.html.twig' %}
{% block body %}
<div class="container column is-8">
	<section class="section">
	<h1 class="title" id="titles">Inscription réussie</h1>
	<h2 id="titles">Félicitation {{app.user.username}}, et bienvenue sur Interface Neuronale!</h2>
	<div class="container column is-3">
	<a href="{{ path('homepage') }}">Retourner a l'accueil</a>
</div>
</section>
</div>
{% endblock %}


